@tailwind base;
@tailwind components;
@tailwind utilities;
.w-72 {
    width: 31.75rem/* 288px */;
}
.h-b{
    height: 8rem;
}
.h-82 {
    height: 21rem/* 320px */;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}